body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fc1e8a;
    user-select: none;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(325deg, #03001e 0%, #7303c0 30%, #ec38bc 70%, #fdeff9 100%);
    padding: 40px 60px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

h2 {
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.info {
    display: flex;
    gap: 20px;
    color: #fff;
    font-size: 1.2em;
}

.reset {
    padding: 15px 20px;
    width: 100%;
    color: #000;
    background-color: #fff;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.reset:focus {
    color: #ffffff;
    background-color: #030303;
}

.game {
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-size: 1em;
    transition: 0.25s;
    cursor: pointer;
    overflow: hidden;
}

.item img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    display: none;
}

.item.boxOpen img {
    display: block;
}

.item.boxMatch {
    background-color: #2ecc71;
    cursor: default;
}

.reset:hover {
    background-color: #4a00e0;
    color: #fff;
}
